.loginContainer{
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
    max-width: 100%;
}

.leftSide{
    background-color: #eaf4f2;
    padding: 40px;
    flex: 1;
    color: #2c3e50;

    h1{
        font-size: 24px;
    }

    h2{
        font-size: 30px;
        margin-top: 10px;
    }

    p{
        font-size: 14px;
        margin-top: 20px;
    }
}

.rightSide{
    padding: 40px;
    flex: 1;

    h2{
        font-size: 24px;
        margin-bottom: 20px;
    }

    form {
        @apply flex flex-col
    }

    label {
        @apply text-sm;
        margin-bottom: 5px;
    }

    input {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .rememberForgot {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 20px;
    }

    button {
        padding: 10px;
        background-color: #1abc9c;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #16a085;
    }
}